

button {
    background-color: yellow;
    color: black;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: large;
}