body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.buttonContainer {
    display: flex;
    gap: 5px;
}

.scoreDisplay {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 5px;
}

button {
    background-color: seagreen;
    color: white;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: large;
}